.container{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 25px;
    border-radius: 10px;
    background: white;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #333;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 300px;
    padding: 15px;
}

.text{
    padding-right:10px;
    width: 40vw;
}

p {
    color: #333;
    font-size:15px;
    font-weight: 300;
}

.text h2{
    font-size:25px;
}

.container-bill{
    align-items: center;
    margin-bottom: 25px;
    border-radius: 10px;
    background: white;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #333;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.container-bill h2{
    text-align: center;
    font-size: 25px;
    
}

.tableitem2{
    text-align: right;
    padding-right: 10px;
}

.tableitem{
    text-align: left;
    padding-left: 15px;
}

table{
    width: 750px;
}